.chatContainer {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    justify-content: space-between;
    // padding: 1rem;
    align-items: center;
    position: relative;

    .chatHistory {
        box-sizing: content-box;
        overflow-y: auto;
        height: 85vh;
        position: relative;
        scrollbar-width: thin;
        scrollbar-color: var(--scrollbar_color) transparent;
        scrollbar-gutter: stable;
        width: 100%;

        /* Webkit (Chrome, Safari, Edge) */
        &::-webkit-scrollbar {
            width: 8px;
            /* Adjust width as needed */
        }

        &::-webkit-scrollbar-track {
            background: transparent;
            /* Transparent background */
        }

        &::-webkit-scrollbar-thumb {
            // background-color: rgb(16, 55, 16);
            /* Dark green thumb */
            border-radius: 4px;
            /* Optional: rounded corners */
            border: 2px solid transparent;
            /* Optional: creates padding around thumb */
            background-clip: content-box;
            /* Optional: makes border act like padding */
        }
    }

    .messageBarContainer {
        // margin-top: 1rem;
        position: relative;
        left: 0.5rem;
        bottom: 1rem;
    }
}

.reciteButton {
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--text_color);

    transition: all 0.2s ease-in-out;
    margin-top: 1rem;

    &:hover {
        cursor: pointer;
        transform: scale(1.1); // Scale up the icon on hover
        transform-origin: center;
    }
}