.messageContainer {
    position: relative;
    right: 0;


    // width: 100%;
    .message {

        // display: flex;
        .messageP {
            display: inline-block;
            padding-top: var(--userMessagePaddingTB);
            padding-bottom: var(--userMessagePaddingTB);
            padding-left: var(--userMessagePaddingLR);
            padding-right: var(--userMessagePaddingLR);
            max-width: 80%;
            margin: 1rem;
        }
    }

    .userMessage {
        text-align: right;

        .messageP {
            border-radius: 3rem;
            background-color: var(--user_message_color);
            text-align: left;
        }

        .audioPlayerContainer {
            display: flex;
            justify-content: flex-end;
            margin: 1rem;
        }
    }

    .assistantMessage {
        text-align: left;
    }
}