:root {
    --background_color: black;
    --accent_color: rgb(61, 125, 255);
    --text_color: white;
    --gray_text_color: #A1A1AA;
    --user_message_color: #27272A;
    --userMessagePaddingTB: 1em;
    --userMessagePaddingLR: 1.5em;
    --scrollbar_color: gray;
    background-color: var(--background_color);
}

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}